NODE_ENV=development

HOST_PORT=18765
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:18765

JWT_SECRET=충분히_긴_랜덤_문자열로_변경
JWT_EXPIRES_SEC=900
REFRESH_TOKEN_EXPIRES_DAYS=14
BCRYPT_SALT_ROUNDS=10

PG_USER=
PG_HOST=localhost
PG_DATABASE=
PG_PASSWORD=
PG_PORT=5432

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:18765/auth/google/callback

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_CALLBACK_URL=http://localhost:18765/auth/kakao/callback
